/* Секція Choose your plan */
#choose-your-plan {
  text-align: center;
}

#choose-your-plan .plan {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

#choose-your-plan .plan:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#choose-your-plan .plan.active {
  border-color: red; /* Підсвічуємо червоним */
  box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5); /* Тінь для активної картки */
}

/* Стилі для кнопки */
.select-btn {
  background-color: #f53838;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.select-btn:hover {
  background-color: #d03333;
}
